@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Nunito Variable", system-ui, sans-serif;
  scroll-behavior: smooth;
}
body {
  color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overscroll-behavior: none;
  box-sizing: border-box;
}
strong {
  font-weight: 800;
}
.background {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: -2;
  min-height: 100vh;
  width: 100%;
  background: #242424;
  background: radial-gradient(
    ellipse 80% 80% at 50% -30%,
    #444444 0%,
    /* 444444 */ #242424 100%
  );
}
.logo {
  position: fixed;
  z-index: 999;
  width: 60px;
  height: 60px;
  background-image: url(/favicon.svg);
  border-radius: 50%;
  background-size: 104% 104%;
  background-position: center;
  bottom: 20px;
  right: 20px;
  opacity: 1;
  box-shadow: 0px 0px 10px 4px #0000009d;
  transition: all 0.1s ease-in-out;
  box-sizing: border-box;
}
.logo:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px 1px #c3ff63;
}
.logo:active {
  transform: scale(0.9);
}
.logo.close {
  opacity: 0;
  z-index: -10;
}
