.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 115px;
  text-align: center;
  padding: 3px 10px;
  border: 1px solid rgb(184, 184, 184);
  border-radius: 30px;
  background-color: var(--bg-socialBtn);
  letter-spacing: 0.5px;
  transition: all 0.2s ease-out;
}
.btn img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.btn:hover {
  background-color: var(--bg-socialBtn-hover);
  border: 1px solid var(--primary_a);
  color: var(--primary_a);
}
.btn:active {
  transform: scale(0.9);
}
@media screen and (max-width: 768px) {
  .btn {
    min-width: 80px;
  }
}
